body{
	text-align: center;
	font-family: 'Open Sans', sans-serif
	text-align: center;
}

.container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

ul{
	text-align: center;
}

li{
	display: inline-block;
	margin: 20px;
}

img{
	max-width: 400px;
	max-height: 400px;
}

